
/*
Style sheet for rtl433log project

Google fonts: Open Sans
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
*/

/* Global styles
---------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 10px;*/
	/*line-height:1.5*/
}
p {
	font-size: 1rem;
}

/* Header and Footer
---------------------------------------*/


/* Tables
---------------------------------------*/

.hor-minimalist {
	font-size: 14px;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist th {
	color: #039;
	padding: 10px;
	border-bottom: 2px solid black;
}
.hor-minimalist td {
	border-bottom: 1px solid #ccc;
	padding: 6px;
}
.hor-minimalist tbody tr:hover td {
	color: #039;
	background-color: #ccc;
	font-weight: 600;
}
.odd {
	background: #e8edff;
	font-weight: 600;
}
