{% extends "layout.html" %}
{% block content %}
<h2>Sensor Dashboard<h2>
<hr>
{% if SensorLst %}
<table class="hor-minimalist" summary="Sensor list">
	<thead>
		<tr>
			<th>Temp</th>
			<th>Humidity</th>
			<th>Battery</th>
			<th>Time</th>
			<th>Min</th>
			<th>Time</th>
			<th>Max</th>
			<th>Time</th>
		</tr>
	<thead>
	<tbody>
		{% for sensor in SensorLst %}
		<tr class="odd">
			<td colspan="8">{{ sensor.ModelNm }}:{{ sensor.HouseCd }} | <a href="/hourly?sname={{ sensor.ModelNm }}{{ sensor.HouseCd }}">24 Hr</a></td>
		</tr>
		<tr>
			<td>{{ sensor.LstTempF }}&deg;F</td>
			<td>{{ sensor.HumidityPct }}%</td>
			<td>{{ sensor.BatteryCd }}</td>
			<td>{{ sensor.LstTime }}</td>
			<td>{{ sensor.MinTemp }}&deg;F</td>
			<td>{{ sensor.MinTempTime }}</td>
			<td>{{ sensor.MaxTemp }}&deg;F</td>
			<td>{{ sensor.MaxTempTime }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>No sensors/readings to show</p>
{% endif %}

{% endblock %}
